**/__pycache__/*
**/dataset/*
./dataset/*
*.pyc
*.pyo
*.pyd
**/data/*
./data/*
./results/*
**/results/*
**/results/*
**/input/*
**/output/*
!benchmark/**/*.pkl
mynote.md
./dataset_generator/data/*
**/logs/*
./release/**
